html, body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  
}

body {
/*   display: none; */
  position: sticky;
  margin: 0;
  display: relative;
  justify-content: center;
  width: 100vw;
  height: calc(100vh * 15.99);
  background-color: #FDFDFD;
/*   background-image: url("https://cdn.glitch.global/9804501c-6989-413e-9c64-74e41c0b157a/bgTexture.png?v=1701873657318");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  mix-blend-mode: multiply; */
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 100vh;
  z-index:-1;
}

.newsGrid {
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100vh;
  overflow: hidden;
  z-index: 500;
/*   background-color: green; */
  text-align: right;
  
}

#newsImg {
  display: none;
  position: relative;
  margin: 20px;
  top: 0;
  right: 0;
  width: calc(100% - 40px);
  height: auto;
/*   background-color: yellow; */
  
  overflow: visible;
  z-index: 1000;
}

img {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 50%;
  background-color: #1E1E20;
/*   border: solid 2.2px #1E1E20; */
}

#newsText {
  display: none;
  position: relative;
  margin: 20px;
  margin-top: -10px;
  top: 0;
  right: 0;
  width: calc(100% - 40px);
  height: auto;
  padding: 4px;
  box-sizing: border-box !important;
  font-size: 20px;
  color: #FDFDFD;
/*   background-color: #1E1E20; */
}

#year {
  position: fixed;
  top: 0;
  left: 30px;
  display: flex;
  align-items: center;
/*   padding-left: 10px; */
  width: 200px;
  height: 100vh;
  touch-action: none;
  
  font-family: 'Noto Sans KR', sans-serif;
  font-variation-settings: 'wght' 900;
  font-size: 110px;
  color: #1B1B1B;
  
  transition: all 0.5s ease-in-out;
}

/* #progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 100vh; 
  background-color: black;
} */

#canvasContainer {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FDFDFD;
  z-index: -1000;
  
  overflow: hidden;
  touch-action: none;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
/*   width: 10px; */
/*   height: 10px; */
  color: #222222;
  background-color: rgba(255, 255, 255, 0);
  overflow-y: visible;
  
/*   font-family: 'Hahmlet', serif; */
  font-family: 'Noto Sans KR', sans-serif;
  
  transition: all 0.5s ease-in-out;
}
