html, body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  mix-blend-mode: multiply;
}

body {
/*   display: none; */
  margin: 0;
  display: relative;
  justify-content: center;
  width: 100vw;
  height: calc(100vh * 15.99);
  background-color: #FDFDFD;

/*   overflow: hidden; */
}

canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 100vh;
  z-index:-1;
}

.newsGrid {
/*   display: block; */
  position: fixed;
  top: 0;
  right: 0;
  width: 450px;
  height: 100vh;
  overflow: hidden;
  z-index: 500;
/*   background-color: yellow; */
  mix-blend-mode: multiply;
}

#newsImg {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 90%;
  height: auto;
/*   background-color : yellow; */
/*   background-color: rgba(255, 255, 255, 0); */
/*   mix-blend-mode: screen; */
/*   box-shadow: 0 2px 14px rgba(0,0,0,0.25); */
  overflow: visible;
  z-index: 1000;
}

img {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
/*   box-shadow: 0 2px 14px rgba(0,0,0,0.25); */
}

#newsText {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 320px;
  height: 50%;
  background-color: rgba(255, 255, 255, 0);
}



#year {
  position: fixed;
  top: 0;
  left: 30px;
  display: flex;
  align-items: center;
/*   padding-left: 10px; */
  width: 200px;
  height: 100vh;
/*   overflow: scroll; */
  touch-action: none;
  
/*   background-color: yellow; */
  font-family: 'Noto Sans KR', sans-serif;
  font-variation-settings: 'wght' 900;
  font-size: 110px;
  color: #1B1B1B;
  
  transition: all 0.5s ease-in-out;
}

#progressContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 100vh; 
  background-color: black;
}

#canvasContainer {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FDFDFD;
  z-index: -1000;
  
  overflow: hidden;
  touch-action: none;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  color: #222222;
  overflow: visible;
/*   font-family: 'Hahmlet', serif; */
  font-family: 'Noto Sans KR', sans-serif;
  
  transition: all 0.5s ease-in-out;
}
